<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Brett Zamir</string>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>Baha'i Reference Library Wiki Overlay</string>
	<key>CFBundleIdentifier</key>
	<string>me.brett-zamir.brl-wiki-overlay-safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>common.js</string>
				<string>Writings-map.js</string>
				<string>Writings-behavior-map.js</string>
				<string>wiki-overlay.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Overlays Baha'i Reference Library site with links to collaboratively editable wikis</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>reference.bahai.org</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://brett-zamir.me/brl-wiki-overlay/safari-update.plist</string>
	<key>Website</key>
	<string>http://brett-zamir.me/brl-wiki-overlay/</string>
</dict>
</plist>
